.staff {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  border-top: 1px solid gray;
  -webkit-box-shadow: 1px -4px 5px -2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px -4px 5px -2px rgba(0, 0, 0, 0.35);
  box-shadow: 1px -4px 5px -2px rgba(0, 0, 0, 0.35);
}

.staff-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.staff-container {
  padding: 10px;
}
.load {
  position: relative;
  bottom: 40px;
}
.info {
  position: relative;
  bottom: 40px;
}

.name {
  position: relative;
  bottom: 20px;
}
