.services_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.grid_services {
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.GridContainer {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  border: 1px solid red;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 20px;
}

.GridContainer > div {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 100px;
  background-color: lightblue;
  align-items: center;

}

.title_services {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}

.subtitle_services {
  letter-spacing: 7px;
  font-size: 18px;
  color: gray;
  margin: 10px;
}

.parrafo_services {
  color: gray;
  font-size: 18px;
  margin: 10px;
}
