.text {
    font-size: 16px;
    padding: 5px;
    font-family: "roboto", sans-serif;
    color: #222;
    text-align: left;
    margin: 0;
    border: 1px solid red;
}

.titleh2 {
    font-size: 28px;
    color: #444;
    padding-bottom: 30px;
    border: 1px solid red;
}

