.staffImage {
  width: 900px;
}

.subtitle {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 2px;
}

.titleh2 {
  font-size: 28px;
  color: #333;
  padding-bottom: 30px;
  letter-spacing: 2px;
}

.text {
  font-size: 18px;
  line-height: 30px;
  padding: 5px;
  text-align: left;
  letter-spacing: 2px;
}

.stackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
}
