.banner-container {
  padding-top: 50px;
}

.bannerappoint {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 93, 185);
  padding: 50px;
}

.btn-banner {
  padding: 25px;
  font-size: 22px;
  width: 250px;
  border-radius: 30px;
}

.text-banner {
  width: 800px;
  text-align: left;
}

.banner-h2 {
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: normal;
  color: #fff;
}
.banner-p {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
}
