.footer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  height: 400px;
  background-color: rgb(0, 93, 185);
  color: #fff;
}

.footer-logo {
  width: 300px;
}
.footer-container {
  display: flex;
}

.left {
  width: 35%;
  padding-left: 30px;
}

.mid {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.mid-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.mid-list a {
  padding: 8px;
  position: relative;
  bottom: 15px;
  color: #fff;
}
.mid-title {
  font-size: 25px;
  text-align: center;
  position: relative;
  left: 15px;
  bottom: 10px;
}
.right {
  width: 35%;
}

.right-title {
  font-size: 25px;
  text-align: center;
  position: relative;
  bottom: 12px;
}
.right li {
  list-style: circle;
  padding: 5px;
  position: relative;
  left: 130px;
  bottom: 20px;
  text-align: justify;
}
.copy {
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  position: relative;
}
.copy-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-f {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
