.sectioninfo {
  background-color: rgb(0, 93, 185);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150px;
}
.containerinfo {
  column-count: 2;
  width: 50%;
  padding-left: 50px;
}
.containerinfo p {
  color: white;
  font-size: 13px;
}
.address-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.email-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.phone-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 70px;
}
.fax-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 77px;
  margin-top: 5px;
}

.logo {
  width: 220px;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}

.covidbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 50px;
}
.covidbtn .btn {
  border: none;
  padding: 7px;
  width: 380px;
  border-radius: 10px;
  color: White;
  background: #cd4c32;
  border: 1px solid #cd4c32;
  cursor: pointer;
  transition: all 0.5s ease;
}

.covidbtn .btn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.btn span {
  position: relative;
  top: 2px;
  right: 10px;
}

.info-icon-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-info-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-info-icon-na {
  filter: opacity(0.6) drop-shadow(0 0 0 rgb(0, 0, 196));
}
